/* this is for styling the overlay
 * when using header / footer and backimage
 *
 * see metadata in notebook
 */


#rise-header {
    margin: 10px;
    right: 10%;
}

#rise-header img {
    height: 6em;
    margin-left: 2em;
    margin-right: 2em;
}

.xr-text-repr-fallback {
    display: none !important;
}

li.xr-var-item {
    display: flex;
}

dl > dt {
    clear: left;
}

dl > dd {
    padding-left: 10px;
}

section .past {
    top: 20px  !important;
}

section .present {
    top: 20px  !important;
}

section .future {
    top: 20px  !important;
}

.section-heading {
    padding-top: 25%  !important;
    text-align: center  !important;
}

#slide-1-0 {
    overflow-y: scroll !important;
    height: calc(95vh);
}

#slide-1-1 {
    overflow-y: scroll !important;
    height: calc(95vh);
}
